.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
}


.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    height: 400px;
    overflow-y: auto;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-buttons {
    column-gap: 2rem;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.search-bar {
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.description {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sp{
    height: 50%;
}

.p-desc-desc {
    font-size: 1rem;
    margin-bottom: 10px;
}

.fam-n-type {
    color: gray;
}

.desc-price {
    font-size: 1.5rem;
    text-align: right;
}

